extends template.pug

block content
	h2 Register/Login

	p Register a username or Login if the user has registered beforehand.

	div.group
		input#name-fido2(placeholder="Username")
		button#register-fido2 Register
		button#authenticate-fido2 Login

	h3 Push Authentication

	p This grants a one-time authentication which enables the user to Login on a second device. That device does not need to be FIDO2 enabled. This is useful if the user is logging in to a device that is not necessarily his or one that he does not want to add permanently.

	div.group
		input#name-push(placeholder="Username")
		input#code-push(placeholder="Code")
		button#button-push Authenticate

	h3 Add Credential

	p This authorizes additional authenticators (devices). The process starts on a second device, gets authorized on this first device and ends with an added authenticator. A user can now login to his account from multiple devices.

	span#message
	div.group
		input#name-add(placeholder="Username")
		input#code-add(placeholder="Code")
		button#button-add Authenticate

	a.link(href="/codes") On a Secondary Device? Click Here

	script(src="/registerLoginExample.js")
