extends template.pug

block content
	h1 Welcome #{user.username}
	form(method="POST" action="/logout")
		button Logout

	h2 Transaction Confirmation

	p A string based payload may be confirmed here!<br/>The result is a JWT that contains several claims. The claims represent the current user, a signature based on FIDO2 credential and a hash of the confirmed transaction text.<br/>The transaction confirmation represents a digital, signed copy of the particular transaction.

	div.group
		span#tx-id(class="copy")
		span#message
		input#tx-payload(placeholder="Transaction Payload")
		button#tx-create Create Transaction ID
		button#tx-confirm Confirm Transaction
		button#tx-create-confirm Create and Confirm Transaction

	script(src="/transactionConfirmationExample.js")
