[submodule "java-server-side-sdk"]
	path = java-server-side-sdk
	url = https://github.com/loginid1/java-server-side-sdk.git
[submodule "authenticate-demo"]
	path = authenticate-demo
	url = https://github.com/loginid1/authenticate-demo
