body {
    color: #19214A;
    font-family: Montserrat;
}

p {
    font-size: 22px;
}

li {
    font-size: 18px;
}

h1 {
    font-size: 90px;
    color: #1E2898;
    line-height: 88px;
    font-family: "Work Sans";
    letter-spacing: -1px;
}

h2 {
    font-size: 48px;
    color: #1E2898;
    line-height: 60px;
    font-family: "Work Sans";
    letter-spacing: -1px;
}

h3 {
    font-size: 32px;
    color: #1E2898;
    line-height: 42px;
    font-family: "Work Sans";
    letter-spacing: -1px;
}

h4 {
    font-size: 24px;
    color: #1E2898;
    line-height: 24px;
    font-family: "Work Sans";
    letter-spacing: -1px;
}

a {
    color: #5B1CCE;
}

button {
    background-color: #1733D4;
    border-radius: 37px;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
}

nav {
    color: #19214A;
    background-color: #ADC0CC;
}