body {
    color: #19214A;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 18px;
}

li {
    font-size: 16px;
}

h1 {
    font-size: 48px;
    color: #1E2898;
    font-family: "Work Sans", sans-serif;
    letter-spacing: -0.02em;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0.6em 0 0.8em;
}

h2 {
    font-size: 32px;
    color: #1E2898;
    font-family: "Work Sans", sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    line-height: 2em;
}

h3 {
    font-size: 22px;
    color: #1E2898;
    font-family: "Work Sans", sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    line-height: 1.8em;
}

a {
    color: #2870FA;
}

a.light {
    color: #62CEFC;
}

a.loginid-nav {
    color: #19214A;
}

button {
    background-color: #2870fA;
    border-radius: 20px;
    color: white;
    padding: 5px 40px;
    font-size: 16px;
}

#btnSignInName {
    border:0;
    background: #F0F2F3;
    padding: 5px 20px;
}

nav {
    color: #19214A;
    background-color: #E2EAF9;
}

small {
    color: darkgray;
}